body {
    font-family: "Roboto" sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
}

.nav-menu {

}

.nav-list {
    font-weight: 500;
    letter-spacing: 2%;
    color: #2e2f42;
}

.nav-list:hover,
.nav-list:focus {
    color: #404bbf;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #4d5ae5;

}

span {
    color: #2e2f42;
}

.address-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
    font-style: normal;
}

.address-list:hover,
.address-list:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
}

.h-one {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
}

.button {
    font-family: "Roboto" sans-serif;
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04;
    color: #ffffff;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-two {

}

.h-two {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02;
    text-transform: capitalize;
    color: #2e2f42;
}

.h-three {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.two-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}

.section-three {
    background-color: #f4f4fd;
}

.three-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}

.section-four {
    
}

.four-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}

.footer {
    color: #2e2f42;
}

.footer-text {
    color: #F4F4FD;
}