body {
    font-family: "Roboto" sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.03;
    text-transform: uppercase;
    color: #4d5ae5;

}

span {
    color: #2e2f42;
}

.list {
    font-weight: 500;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.list:hover,
.list:focus {
    color: #404bbf;
}

.address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}

.address:hover,
.address:active {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
}

.button {
    font-family: "Roboto" sans-serif;
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04;
    color: #ffffff;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02;
    text-transform: capitalize;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    letter-spacing: 0.02;
    color: #2e2f42;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
}

.text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}

.section-three {
    background-color: #f4f4fd;

}

.link {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}

footer {
    color: #2e2f42;
}

.footer-p {
    color: #F4F4FD;
}